.recipes {
  margin-bottom: 0;
  background-color: #0a2750;
  background-image: url("../../images/background_recipes.svg");
  background-size: cover;
  color: #fff;
}

.recipes__title {
  margin: 0;
  padding: 0;
  padding-top: 100px;
  padding-left: 80px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0;
  padding: 0;
  padding-top: 24px;
  margin-left: 80px;
  margin-bottom: 80px;
  font-family: "Noto Serif", Serif, Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  border: none;
  width: 400px;
  height: 273px;
  margin-right: 40px;
  margin-bottom: 24px;
}

.reicpes__iframe:nth-of-type(2) {
  margin-right: 0;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 215px;
}

.recipe__video_description {
  display: flex;
  justify-content: space-between;
}

.recipes__video {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  font-family: Inter;
}

.recipes__video-caption {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 50px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
