@import url("../vendor/normalize.css");
@import url("../blocks/Header/header.css");
@import url("../blocks/Navigation/nav.css");
@import url("../blocks/Recipes/recipes.css");
@import url("../blocks/Reservation/reservation.css");
@import url("../blocks/Menu/menu.css");
@import url("../blocks/About/about.css");
@import url("../blocks/Footer/footer.css");

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
